/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: Roboto */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --nav-color: #ff6900;
    --green-color: #008000;
    --dark-color: #1a1a1a;
}
img{
    max-width: 100%;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: white;
}
/* #endregion common */

/* #region utilites */
.container{
    width: 70%;
    margin: auto;
}
.row{
    display: flex;
}
.df-center{
    justify-content: space-between;
    align-items: center;
}
.icons{
    font-size: 1.25rem;
    text-align: center;
    i{
        margin: 1rem .2rem;
    }
}
/* #endregion utilites */


/* header */
header{
    background: var(--nav-color);
    color: white;
    padding: .5rem 0;
    font-weight: 900;
    nav{
        ul{
            list-style: none;
        }
    }
    .logo{
        width: 150px;
    }
    .account-icons{
        display: flex;
    }
    .account-icons, nav{
        width: 20%;
    }
    .account-icons,ul{
        display: flex;
        justify-content: center;
    }
    ul>li{
        margin: 0 .75rem;
    }
}

/* main */
main{
    .row{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .product{
        position: relative;
        margin-top: 2rem;
        width: 30%;
    }
    .default{
        position: absolute;
        left:0;
        &:hover{
            opacity: 0;
            transition-duration: 500ms;
        }
    }
    .heart{
        position: absolute;
        top: 0;
        right: 0;
        margin: .5rem;
        font-size: 1rem;
        background: white;
        text-align: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        i{
            transform: translate(0,25%);
        }
        &:hover{
            background: #000;
            color: red;
            transition-duration: 400ms;
        }
    }
    .abs{
        position: absolute;
        left:0;
        bottom: 8rem;

        .discount{
            background: red;
            color: white;
            padding: .25rem .5rem;
        }
        .sust{
            background: var(--green-color);
            color: white;
            padding: .25rem .5rem;
        }
    }
    .stroke{
        text-decoration-line: line-through;
        color: grey;
    }
    .txt-red{
        color: red;
        font-weight: bold;
    }
    .desc{
        font-weight: 800;
        line-height: 1.7rem;
    }
    .marca{
        font-size: .9rem;
    }
}

/* footer */
footer{
    background: var(--dark-color);
    color: rgb(255, 255, 255);
    margin-top: 4rem;
    padding: 2rem 0;
    border-bottom: 1px solid white;
    .row{
        justify-content: space-between;
    }
    .right{
        p{
            text-align: center;        
        }
    }
    .left{
        text-align: left;
    }
    ul{
        list-style: none;
        display: flex;
        li{
            margin: 1rem .5rem;
        }
        li:first-child{
            margin-left: 0;
        }
    }
    p{
        font-size: 1rem;
        font-weight: 900;
    }
}
