/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
/* #endregion common */

/* #region utilites */
.container{
    width: 70%;
    margin: auto;

    padding: .5rem 0;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #endregion utilites */


/* header */
header{
    background: orange;
    color: white;
    nav{
        ul{
            list-style: none;
        }
    }
    .logo{
        width: 150px;
    }

    .account-icons{
        display: flex;
    }

    .account-icons, nav{
        width: 20%;
    }

    .account-icons,ul{
        display: flex;
        justify-content: center;
    }

    .account-icons div, ul>li{
        margin: 0 .75rem;
    }
}

/* main */